@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


$white:#f8f9fa;
$off-white:#e9ecef;
$black:#212529;
$off-black:#495057;
$orange:#e85d04;
$drak-bule:#023047;
$light-bule:#caf0f8;
$gray:#d9d9d9;


$max-width:1200px;
